<ion-header>

  <ion-navbar>
    <button ion-button menuToggle start>
        <ion-icon name="menu" style="color: black"></ion-icon> 
    </button>  
    <ion-buttons class="person-icon-align">
        <button ion-button icon-only (click)="goToMyprofile()"><ion-icon class= "" name="person" style="color: black"></ion-icon></button>
    </ion-buttons> 
    <ion-title>Map</ion-title>
    <ion-buttons right>
        <button ion-button icon-only><ion-icon class= "" name="ios-pin-outline" style="color: black"></ion-icon></button>
    </ion-buttons> 
    <ion-buttons right>
        <button ion-button icon-only (click)="goToSearchResults('any')"><ion-icon class= "" name="search" style="color: black"></ion-icon></button>
    </ion-buttons> 
    <ion-buttons right>
        <button ion-button icon-only (click)="goToSearch()"><ion-icon class= "" name="ios-funnel-outline" style="color: black"></ion-icon></button>
    </ion-buttons> 
  </ion-navbar>

</ion-header>



<ion-content>

  <ion-toolbar color="red">
      <ion-buttons left> 
          <button ion-button class="color-white" (click)="close()">cancel</button>
      </ion-buttons>
      <ion-buttons right *ngIf="showTop">
          <button class="color-white" [disabled]="saveDisabled" ion-button (click)="save()">save</button>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="showTop"> 
      <ion-searchbar class="color-white" [(ngModel)]="query" (ionInput)="searchPlace()"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
      <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
  </ion-list>
  
    <div #pleaseConnect id="please-connect">
        <p>Please connect to the Internet...</p>
    </div>
  
    <div #map id="map">
        <ion-spinner></ion-spinner>
    </div>
  
  </ion-content>