page-userprofile {

}


.label-box {
    padding: 6px 20px;
}

.bb {
    border-bottom: solid 1px #dadbdc;
}

.title {
    font-weight: 400;
    font-size: 1.1em;
}

.icon-label {
    width: 18px;
    margin-right: 10px;
    margin-top: -6px;
}

.heading-title {
    margin: auto;
    text-align: center;
    padding: 20px 0 0;
}