page-listyourcar3 {

}
.range-box {
    border: solid 1px #bbbcbe !important;
    padding: 16px;
    border-radius: 3px;
    height: auto;
    display: table;
    width: 100%;
}

.icon-box {
    width: 20%;
    min-height: 30px;
    padding-top: 10px;
    padding-bottom: 16px;
    text-align: center;
    float: left;
}

.icon-feature {
    width: 40px;
}

.text-box.new2 {
    padding: 0px 4px 0 12px !important;
    border: solid 1px #bbbcbe !important;
    color: #868687 !important;
    height: 36px !important;
    // background: none !important;
}