page-signup {

}

.icon-name {
    background-image: url(../assets/imgs/person.png) !important;
    background-position: 12px 12px !important;
}
.icon-phone {
    background-image: url(../assets/imgs/icon_phone.png) !important;
    background-position: 12px 12px !important;
}
.icon-country {
    background-image: url(../assets/imgs/icon_world.png) !important;
    background-position: 12px 12px !important;
}

.icon-address {
    background-image: url(../assets/imgs/icon_location.png) !important;
    background-position: 12px 12px !important;
}